{% extends  "inc/base.html"%}

{%block content%}
{% load bootstrap5%}
<div class="col-8 left_main_part">
    <div class="main_headers">
        <h1 class="main_h1">New question</h1>
    </div>
    <form action="/ask/" class="form_new_question" method='post' novalidate>
        {% csrf_token %}
        {% bootstrap_form form%} 

        {% comment %} <div class="title_new_question">
            <label for="title_new_question">Title</label>
            <input type="text" name="title_new_qusetion" required maxlength="140">
        </div>
        <div class="text_new_question">
            <label for="text_new_question">Text</label>
            <textarea name="text_new_qusetion" required maxlength="10000"></textarea>
        </div>
        <div class="tags_new_question">
            <label for="tags_new_question">Tags</label>
            <input type="text" name="tags_new_qusetion" maxlength="140">
        </div>
        {% endcomment %}
        <input type="submit" name="btn_new_question" value="Ask" class="btn btn-success"> 
    </form>

</div>
{%endblock%}