{%extends "inc/base.html"%}
{%load static%}
{%block content%}
<div class="col-8 left_main_part one_question">
    <div class="main_question">
        <div class="question">
            <div class="row">
                <div class="col-3">
                    <div class="question-avatar">
                        <img src="{% static "images/HallowAz.jpg"%}" alt="avatar">
                    </div>

                </div>
                <div class="col-9">
                    <h2><a href="{% url 'question' question.id%}">{{question.title}}</a></h2>
                    <div class="question-text">{{question.text}}</div>

                    <div class="row">

                        <div class="col-9">
                            Tags: <a href="{% url 'tag' 'black-jack'%}">black-jack</a>, <a href="{% url 'tag' 'black-jack'%}">black-jack</a>
                        </div>
                        <div class="col-3 question_likes">
                            <label>Likes</label>
                            <input type="number" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr>

    <h2>Answers</h2>
    <br>
    <div class="row">
        {% for answer in answers%}
        {% include "inc/answer_item.html"%}
         {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

            <hr>

            <div class="own_answer">
                <h1>Your answer</h1>
                <form action="#">
                    <textarea name="own_answer" class="own_answer_text" required></textarea>
                    <input type="submit" name="answer_button" value="Answer" class="btn btn-success">
                </form>
            </div>
    </div>
</div>


{%endblock content%}