<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>HallowAsk</title>



    <link rel="stylesheet" href="../static/css/bootstrap.css">




    <!-- Custom styles for this template -->
    <link href="../static/css/styles.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

    <header>
        <h1 class="logo text_header"><a href="base.html">HallowAsk</a></h1>
        <input type="text" name="search_text" class="search_text_field_class" placeholder="Search">
        <form action="ask.html" class="ask_btn_form">
            <input type="submit" name="search_btn" class="btn btn_search text_header" value="Ask">
        </form>
        <div class="profile text_header">
            <div class="row">
                <div class="col-4">
                    <img src="../static/images/HallowAz.jpg" alt="avatar">
                </div>
                <div class="col-8">
                    <div class="profile_name_div"><a class="profile_name text_header" href="#">HallowAz</a></div>
                    <div class="under_profile"><a class="text_header settings_class" href="#">Settings</a><a
                            class="log_out_class text_header" href="login.html">Log out</a></div>
                </div>
            </div>
        </div>
    </header>

    <!-- Begin page content -->
    <main class="main_class">
        <div class="row two_parts_main">
            <div class="col-8 left_main_part">
                <div class="main_question">
                    <div class="question">
                        <div class="row">
                            <div class="col-3">
                                <div class="question-avatar">
                                    <img src="../static/images/HallowAz.jpg" alt="avatar">
                                </div>

                            </div>
                            <div class="col-9">
                                <h2><a href="#">Awesome question 1</a></h2>
                                <div class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                    sagittis
                                    condimentum arcu nec fermentum. Pellentesque nunc erat, venenatis et placerat sit
                                    amet, feugiat
                                    vestibulum odio...</div>

                                <div class="row">

                                    <div class="col-9">
                                        Tags: <a href="#">black-jack</a>, <a href="#">black-jack</a>
                                    </div>
                                    <div class="col-3 question_likes">
                                        <label>Likes</label>
                                        <input type="number" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr>

                <h2>Answers</h2>
                <br>
                <div class="row">

                    <div class="answer">
                        <div class="row">
                            <div class="col-2">
                                <div class="answer-avatar">
                                    <img src="../static/images/HallowAz.jpg" alt="avatar">
                                </div>

                            </div>
                            <div class="col-10">
                                <h2><a href="#">Awesome question 1</a></h2>
                                <div class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                    sagittis
                                    condimentum arcu nec fermentum. Pellentesque nunc erat, venenatis et placerat sit
                                    amet, feugiat
                                    vestibulum odio...</div>

                                <div class="row">
                                    <div class="col-3">
                                        <label>Correct</label>
                                        <input type="checkbox">
                                    </div>
                                    <div class="col-6">
                                        Tags: <a href="#">black-jack</a>, <a href="#">black-jack</a>
                                    </div>
                                    <div class="col-3 answer_likes">
                                        <label>Likes</label>
                                        <input type="number" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="answer">
                        <div class="row">
                            <div class="col-2">
                                <div class="answer-avatar">
                                    <img src="../static/images/508Eveings.jpg" alt="avatar">
                                </div>
                            </div>

                            <div class="col-10">
                                <h2><a href="#">Awesome question 2</a></h2>
                                <div class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                    sagittis
                                    condimentum arcu nec fermentum. Pellentesque nunc erat, venenatis et placerat sit
                                    amet, feugiat
                                    vestibulum odio...
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <label>Correct</label>
                                        <input type="checkbox">
                                    </div>
                                    <div class="col-6">
                                        Tags: <a href="#">black-jack</a>, <a href="#">black-jack</a>
                                    </div>
                                    <div class="col-3 answer_likes">
                                        <label>Likes</label>
                                        <input type="number" value="0">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="answer">
                        <div class="row">
                            <div class="col-2">
                                <div class="answer-avatar">
                                    <img src="../static/images/Zhilya.jpg" alt="avatar">
                                </div>

                            </div>
                            <div class="col-10">
                                <h2><a href="#">Awesome question 3</a></h2>
                                <div class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                    sagittis
                                    condimentum arcu nec fermentum. Pellentesque nunc erat, venenatis et placerat sit
                                    amet, feugiat
                                    vestibulum odio...</div>

                                <div class="row">
                                    <div class="col-3">
                                        <label>Correct</label>
                                        <input type="checkbox">
                                    </div>
                                    <div class="col-6">
                                        Tags: <a href="#">black-jack</a>, <a href="#">black-jack</a>
                                    </div>
                                    <div class="col-3 answer_likes">
                                        <label>Likes</label>
                                        <input type="number" value="0">
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>

                        <hr>

                        <div class="own_answer">
                            <h1>Your answer</h1>
                            <form action="#">
                                <textarea name="own_answer" class="own_answer_text" required></textarea>
                                <input type="submit" name="answer_button" value="Answer" class="btn btn-success">
                            </form>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-4 right_main_part">
                <div class="popular_tags">
                    <h1>Popular Tags</h1>
                    <a href="#">perl </a>
                    <a href="#">PYTHON </a>
                    <a href="#">TechnoPark </a>
                    <a href="#">MYSQL </a>
                    <a href="#">django </a>
                    <a href="#">Mail.ru </a>
                    <a href="#">Voloshin </a>
                    <a href="#">Firefox</a>
                </div>
                <div class="best_members">
                    <h1>Best Members</h1>
                    <ul>
                        <li><a href="#">First</a></li>
                        <li><a href="#">Second</a></li>
                        <li><a href="#">Third</a></li>
                        <li><a href="#">Fourth</a></li>
                        <li><a href="#">Fifth</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted"></span>
        </div>
    </footer>


    <script src="../static/js/bootstrap.js"></script>


</body>

</html>