{%load static%}

<div class="answer">
    <div class="row">
        <div class="col-2">
            <div class="answer-avatar">
                <img src="{% static "images/HallowAz.jpg"%}" alt="avatar">
            </div>

        </div>
        <div class="col-10">
            <h2>{{answer.header}}</h2>
            <div class="answer-text">{{answer.text}}</div>

            <div class="row">
                <div class="col-3">
                    <label>Correct</label>
                    {%if answer.correct %}
                        <input type="checkbox" checked>
                    {%else%}
                        <input type="checkbox">
                    {%endif%}
                </div>
                <div class="col-3 answer_likes">
                    <label>Likes</label>
                    <input type="number" value="{{question.likes_count}}">
                </div>
            </div>
        </div>
    </div>
</div>
