{%load static%}

<div class="question">
    <div class="row">
      <div class="col-2">
        <div class="question-avatar">
          <img src="{% static "images/HallowAz.jpg" %}" alt="avatar">
        </div>

      </div>
      <div class="col-10">
        <h2><a href="{% url "question" question.id%}">{{question.header}}</a></h2>
        <div class="question-text">{{question.text}}</div>

        <div class="row">
          <div class="col-3">
            <a href="{% url "question" question.id%}"> Answers({{question.answers_count}})</a>
          </div>
          <div class="col-6">
            Tags: 
            {%for tag in question.tags.all%}
              {% comment %} {%for t in tag.name%} {% endcomment %}
                <a href="{% url 'tag' tag.name%}">
                  {{tag.name}}
                </a>
              {% comment %} {%endfor%} {% endcomment %}
            {%endfor%}
          </div>
          <div class="col-3 question_likes">
            <label>Likes</label>
            <input type="number" value="{{question.likes_count}}">
          </div>
        </div>
      </div>
    </div>
  </div>