{% extends  "inc/base.html"%}
{%block right_tags%}
<div class="popular_tags">
    <h1>Popular Tags</h1>
    {%for tag in tags%}

    <a href="{% url 'tag' tag.name %}">{{tag.name}} </a>
    {%endfor%}
</div>

<div class="best_members">
    <h1>Best Members</h1>
    <ul>
        <li><a href="#">First</a></li>
        <li><a href="#">Second</a></li>
        <li><a href="#">Third</a></li>
        <li><a href="#">Fourth</a></li> 
        <li><a href="#">Fifth</a></li>
    </ul>
{%endblock right_tags%}